extends layout

block content
  div.header
    h1 Overview
  table.overview-table
    thead
      tr
        th Name
        th What you owe
    tbody 
      - var count = 0;
      - each row in overview
        - var c = count++%2==0?'odd':'even';
        tr(class="#{c}")
          td= row.name
          td.number-cell= row.owedFormatted

  - each row in protocols
    div.protocol-container
      div.protocol-table-row.protocol-table-header
        div(class="date")      Date
        div(class="lender")    Lender
        div(class="ware")      Ware
        div(class="orig-debt") Original debt
        div(class="debt-left") Debt left
      div.protocol-scroll-box
       - each prot in row.protocols
          - var c1 = row.username==prot.buyer?'owed':'lended';
          - var c2 = prot.debtLeft==0?'inactive':'active';
          div(class="#{c1} #{c2} protocol-table-row")
            div(class="date")=      prot.date
            div(class="lender")=    users[prot.buyer]
            div(class="ware")=      prot.ware
            div(class="orig-debt")= prot.originalDebt
            div(class="debt-left")= prot.debtLeft
